#mainmenu {
  padding: 40px 0;
  .mainmenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
    &--img {
      display: flex;
      align-items: center;
      gap: 15px;
      text-align: center;
      img {
        width: 68px;
        animation: nameUrl 1.5s alternate ease-in-out;
        @keyframes nameUrl {
          0% {
            transform: scale(0);
          }
        }
      }

      h2 {
        font-family: Shalimar;
        font-weight: 400;
        font-size: clamp(12px, 4vw, 40px);
        color: #ffffff;
      }
    }
    h1 {
      font-size: 40px;
      line-height: 100%;
      color: #ffffff;
    }
    &--nav {
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
      width: 100%;
      gap: 30px;
      &__left {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: clamp(280px, 40vw, 373px);
        height: clamp(150px, 65vw, 420px);
        background: #1f2731;
        &--h3 {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          hr {
            width: 238px;
            border: 1px solid #3f4347;
          }
          a {
            transition: 0.1s;
            width: 100%;
            font-weight: 600;
            padding: 15px 0;
            font-size: clamp(12px, 3vw, 28px);
            color: white;
            text-align: center;
            transition: 0.1s ease-in-out;
            height: 100%;
            // border-bottom: 1px solid #fff;
            // padding-bottom: 6px;
            &:hover {
              background: red;
            }
          }
        }
      }
      &__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 627px;
        &--block {
          display: flex;
          flex-direction: column;
          &__h1 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            h1 {
              font-family: Silk Serif;
              font-weight: 600;
              font-size: 20px;
              line-height: 100%;
              letter-spacing: 0%;
            }
            h5 {
              color: white;
            }
            h3 {
              font-weight: 600;
              font-size: 20px;
              color: red;
            }
          }
          &__text {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            p {
              font-weight: 400;
              // font-size: clamp(10px, 3vw, 19px);
              font-size: 14px;
              // line-height: clamp(10px, 2vw, 20px);
              line-height: 20px;
              color: #ffffff;
              margin: 15px 0;
            }
            a {
              font-weight: 600;
              color: #ffffff;
              font-size: clamp(10px, 2vw, 20px);
              text-decoration-line: underline;
              transition: 0.3s ease-in-out;
              &:hover {
                color: rgba(239, 39, 44, 1);
              }

              &:active {
                color: rgba(255, 255, 255, 1);
              }
            }
          }
        }
      }
    }
    &--btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      hr {
        border: 1.4px solid rgba(239, 39, 44, 1);
        width: 170px;
        animation: listBtn 1.5s infinite ease-in-out;
        @keyframes listBtn {
          0% {
            transform: scale(1.1);
          }
          50% {
            transform: scale(0.9);
          }
          100% {
            transform: scale(1.1);
          }
        }
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 220px;
        height: 42px;
        background: transparent;
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 1);
        letter-spacing: 1px;
        border: 1.6px solid rgba(239, 39, 44, 1);
        transition: 0.3s ease-in-out;
        &:hover {
          color: rgba(239, 39, 44, 1);
          background: #fff;
        }

        &:active {
          color: rgba(255, 255, 255, 1);
          background: transparent;
        }
      }
    }
  }
}
