#aboutUs {
  .container {
    max-width: 1170px;
    margin: 0 auto;
  }

  .aboutUs {
    padding-top: 65px;
    padding-bottom: 30px;

    @media (max-width: 768px) {
      padding-top: 60px; // Уменьшаем отступ на мобильных
    }

    &__ab {
      display: flex;
      gap: 40px;
      align-items: center; // Выравниваем по центру

      @media (max-width: 576px) {
        gap: 20px; // Уменьшаем отступ на маленьких экранах
      }

      img {
        width: 52px;

        @media (max-width: 576px) {
          width: 40px; // Уменьшаем стрелку на мобильных
        }
      }

      h1 {
        color: rgb(255, 255, 255);
        font-family: Shalimar;
        font-size: 40px;
        font-weight: 400;

        @media (max-width: 768px) {
          font-size: 32px; // Уменьшаем размер шрифта
        }
      }
    }

    &__text {
      display: flex;
      justify-content: space-between;
      margin: 40px 0;

      @media (max-width: 992px) {
        flex-direction: column; // Переключаем на колонку
        gap: 20px;
        margin: 30px 0;
      }

      h2 {
        font-weight: 600;
        font-size: 40px;
        max-width: 385px;
        color: #fff;

        @media (max-width: 992px) {
          max-width: 100%; // Занимаем всю ширину
          font-size: 32px;
        }

        @media (max-width: 576px) {
          font-size: 28px;
        }
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        max-width: 535px;
        color: #fff;
        font-family: "Spartan", sans-serif;
        @media (max-width: 992px) {
          max-width: 100%; // Занимаем всю ширину
        }
      }
    }

    &__img {
      display: flex;
      justify-content: space-between;
      gap: 32px;

      @media (max-width: 992px) {
        flex-direction: column; // Переключаем на колонку
        align-items: center;
      }

      img {
        width: 100%;
        max-width: 528px;
        height: auto;
        object-fit: cover;
        border-radius: 8px;

        @media (max-width: 1200px) {
          max-width: calc(50% - 16px); // Учитываем gap
        }

        @media (max-width: 992px) {
          max-width: 100%; // На всю ширину в колонке
        }
      }
    }
  }
}
