@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Shalimar&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Shalimar&display=swap");
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Shalimar&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", cursive;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 1400px; 
  padding: 0 15px;
  margin: 0 auto; 
}
button {
  cursor: pointer;
  border: none;
}
input {
  border: none;
  outline: none;
}
body {
  background: rgba(27, 32, 38, 1);
  min-height: 100vh;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  footer {
    margin-top: auto;
  }
}
